<div class="container">
    <div class="item">
        <div class="tweet-form">
            <textarea data-ng-model="tweet" placeholder="write your tweet here..." maxlength="140"></textarea>
            <my-app-progress-bar value="{{tweet.length}}"></my-app-progress-bar>
            <my-app-character-counter value="{{tweet.length}}"></my-app-character-counter>
        </div>
    </div>
    <button class="confirm" data-ng-disabled="!tweet" data-ng-click="sendTweet()">
        Send
    </button>
</div>